body {
    background-color: rgb(53, 59, 64);
}

.setup{
    display: flex;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 2rem;

}
.form-wrapper{
    width: 30rem;


}
.info{
    max-width: 30rem;
}

.arrays-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.initial,
.final{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-gap: 2px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.grid-item{
    display: flex;
    justify-content:center;
    outline: 2px solid black;
    aspect-ratio: 1/1;
    width: 3rem;

}

.grid-item label{
    margin: 0;
}

.grid p{
    margin-bottom: 0;
}


.btn-grid{
    margin-top: 1rem;
    margin-bottom: 2rem;
}


[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.check-label {
    display: flex;
    align-items: center;
    align-self: center;
}

.custom-check {
    --size: 2rem;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(230, 231, 235);
    transition: all 250ms ease-in-out;
}

[type="checkbox"]:checked + label.custom-check{
    background-color: yellow;
    border: 2px solid yellow;
    box-shadow: inset 0 0 0.5em 0 yellow, 0 0 0.5em 0 yellow;
    
}
